<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Concesionario{% endblock %} | MotoGama</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

  {% block extra_css %}{% endblock %}
</head>
<body>

  {% include 'partials/navbar.html' %}

  <main class="wrapper" style="padding-top: 1rem; padding-bottom: 3rem;">
    {% include 'partials/flash.html' %}
    {% block content %}{% endblock %}
  </main>

  <!-- JS Global -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  {% block extra_js %}{% endblock %}

</body>
</html>
